body{
	background: #507787;
	font-family: 'Poppins',sans-serif;
}

.Main-topic{
	background-color:#052232;
	text-align:center;
	color: #fff;
}

.editor-content{
	background-color:#052232;
	text-align:center;
	color: #fff;
}

p{
	line-height: 1.7;
	font-size: 19px;
}
.name{
	background: #ccccccb2;
	text-align:center;
	
	
}